{{=(( ))=}}
--# -path=.:prelude:{{path}}

concrete ((domain_name))SPARQL of ((domain_name)) = Core_OWLSPARQL ** open SPARQL in {


 lin

  ((#classes))
  ((reference)) = "<((uri))>";
  ((/classes))

  ((#relations))
  ((reference)) domain range = mkQueryFromTriple domain "<((uri))>" range;
  ((/relations))

  ((#individuals))
  ((reference)) = mkIdent "<((uri))>" emptyQuery;
  ((/individuals))

}
