{{#Eng}}
{{#positive}} "{{.}}" {{/positive}}{{^positive}} "{{canonicalForm}}" {{/positive}};
{{/Eng}}
{{#Ger}}
{{#positive}} "{{.}}" {{/positive}}{{^positive}} "{{canonicalForm}}" {{/positive}}{{#comparative}} "{{.}}" {{/comparative}}{{#superlative}} "{{.}}" {{/superlative}} }};
{{/Ger}}
{{#Dut}}
{{#positive}} "{{.}}" {{/positive}}{{^positive}} "{{canonicalForm}}" {{/positive}};
{{/Dut}}
