{{#Eng}}
{{#singular}} "{{.}}" {{/singular}}{{^singular}} "{{canonicalForm}}" {{/singular}}{{#plural}} "{{.}}" {{/plural}};
{{/Eng}}
{{#Ger}}
{{#singular}} "{{.}}" {{/singular}}{{^singular}} "{{canonicalForm}}" {{/singular}}{{#gender}}{{#plural}} "{{.}}" {{#gender}}{{.}}{{/gender}}{{/plural}}{{/gender}};
{{/Ger}}
{{#Dut}}
{{#singular}}"{{.}}"{{/singular}}{{^singular}}"{{canonicalForm}}"{{/singular}} {{#plural}}"{{.}}"{{/plural}} {{#gender}}{{.}}{{/gender}}{{^gender}}het{{/gender}};
{{/Dut}}
