{{#Eng}}
{{#present}} "{{.}}" {{/present}}{{#past}} "{{.}}"{{#participle}} "{{.}}" {{/participle}}{{/past}}{{^present}} "{{canonicalForm}}" {{/present}};
{{/Eng}}
{{#Ger}}
{{#canonicalForm}} "{{.}}" {{/canonicalForm}}{{#present}} "{{.}}" {{/present}}{{#past}} "{{.}}"{{#participle}} "{{.}}" {{/participle}}{{/past}};
{{/Ger}}
{{#Dut}}
{{#present}} "{{.}}" {{/present}}{{#past}} "{{.}}"{{#participle}} "{{.}}" {{/participle}}{{/past}}{{^present}} "{{canonicalForm}}" {{/present}};
{{/Dut}}
