lin
   {{#directObject}}
   {{oper}} {{#subject}}{{.}}{{/subject}}{{^subject}}{{copulativeArg}}{{/subject}} {{#prepositionalArg}}(mkVP {{/prepositionalArg}} (mkVP (mkV2 {{gf_name}}_V) {{directObject}}) {{#prepositionalArg}}(Constructors{{lang}}.mkAdv (mkPrep "{{marker}}") {{name}})){{/prepositionalArg}}
   {{/directObject}}
   {{^directObject}}
   {{oper}} {{#subject}}{{.}}{{/subject}}{{^subject}}{{copulativeArg}}{{/subject}} {{#prepositionalArg}}(mkVP {{/prepositionalArg}} (mkVP {{gf_name}}_V) {{#prepositionalArg}}(Constructors{{lang}}.mkAdv (mkPrep "{{marker}}") {{name}})){{/prepositionalArg}}
   {{/directObject}}

oper
   {{gf_name}}_V = mkV {{> templates/forms/verb}}
