
abstract {{domain_name}} = Core ** {

 fun

   ---- Datatypes -------------------

  {{#datatypes}}
   {{.}} : Datatype;
  {{/datatypes}}

  ---- Classes ---------------------

  {{#classes}}
   {{reference}} : {{#arguments}}{{#datatype}}Literal{{/datatype}}{{^datatype}}Individual{{/datatype}} -> {{/arguments}}{{#returntype}}{{.}}{{/returntype}}{{^returntype}}Class{{/returntype}};
  {{/classes}}


  ---- Relations -------------------

  {{#relations}}
   {{reference}} : {{#arguments}}{{#datatype}}Literal{{/datatype}}{{^datatype}}Individual{{/datatype}} -> {{/arguments}}{{#returntype}}{{.}}{{/returntype}}{{^returntype}}Statement{{/returntype}};
  {{/relations}}


  ---- Individuals ------------------

  {{#individuals}}
   {{reference}} : Individual;   
  {{/individuals}}


 ---- Definitions -------------------

 {{#definitions}}
 def {{definiendum}} = {{definiens}};
 {{/definitions}}

}

-------------------------------------
-- Automatically built by lemon2gf --
-------------------------------------
