{{=(( ))=}}
--# -path=.:prelude:{{path}}

concrete ((domain_name))((lang)) of ((domain_name)) = Core((lang)) ** open Basic((lang)), Syntax((lang)), Paradigms((lang)), Constructors((lang)) in {

 ((#haslins))
 lin
 ((/haslins))

  ((#lins))
   ((reference)) ((arguments)) = ((^lin))variants { };((/lin))((#variants))variants { ((/variants))((#lin))((#linWith))((.)) ( ((/linWith))((.))((#linWith)) ) ((/linWith)); ((/lin)) ((#variants)) };((/variants))
  ((/lins))

 ((#hasopers))
 oper
 ((/hasopers))
  
  ((#opers))
  ((left)) = ((right))
  ((/opers))

}

-------------------------------------
-- Automatically built by lemon2gf --
-------------------------------------
