lin 
   {{oper}} {{copulativeArg}} {{#prepositionalArg}}(mkVP {{/prepositionalArg}} (mkVP (mkAP {{gf_name}}_A)) {{#prepositionalArg}}(Constructors{{lang}}.mkAdv {{marker_gfname}}_Prep {{name}})){{/prepositionalArg}}

oper
   {{gf_name}}_A = mkA {{> templates/forms/adjective}}
   {{#prepositionalArg}}
   {{marker_gfname}}_Prep = mkPrep {{> templates/forms/preposition}}
   {{/prepositionalArg}}
