lin 
   {{oper}} {{#prepositionalArg}}(mkCN {{/prepositionalArg}} (mkCN {{gf_name}}_N) {{#prepositionalArg}}(Constructors{{lang}}.mkAdv {{marker_gfname}}_Prep {{name}})) {{/prepositionalArg}}

oper
   {{gf_name}}_N = mkN {{> templates/forms/noun}}
   {{#prepositionalArg}}
   {{marker_gfname}}_Prep = mkPrep {{> templates/forms/preposition}}
   {{/prepositionalArg}}
