lin 
   {{oper}} {{copulativeArg}} (mkCN (mkN2 {{gf_name}}_N) {{possessiveAdjunct}})
   {{oper}} {{copulativeArg}} (mkCN (mkN2 {{gf_name}}_N possess_Prep) {{possessiveAdjunct}})
   {{oper}} {{possessiveAdjunct}} (mkVP have_V2 (mkNP the_Det (mkCN (mkCN (mkN2 {{gf_name}}_N)) {{copulativeArg}})))

oper
   {{gf_name}}_N = mkN {{> templates/forms/noun}}
