lin
   {{oper}} {{subject}} (mkVP (mkV2 {{gf_name}}_V) {{directObject}}) (mkVPSlash (mkV2 {{gf_name}}_V))
   {{oper}} {{directObject}} (passiveVP (mkV2 {{gf_name}}_V))
   {{oper}} {{directObject}} (passiveVP (mkV2 {{gf_name}}_V) {{subject}})

oper
   {{gf_name}}_V = mkV {{> templates/forms/verb}}
