lin
   {{oper}} {{subject}} {{#prepositionalArg}}(mkVP {{/prepositionalArg}} (mkVP (mkV2 {{gf_name}}_V) {{directObject}}) {{#prepositionalArg}}(Constructors{{lang}}.mkAdv {{marker_gfname}}_Prep {{name}})) {{/prepositionalArg}}


oper
   {{gf_name}}_V = mkV {{> templates/forms/verb}}
   {{#prepositionalArg}}
   {{marker_gfname}}_Prep = mkPrep {{> templates/forms/preposition}}
   {{/prepositionalArg}}
