lin
   {{oper}} {{subject}} (variants (mkVP (mkV2 {{gf_name}}_V) {{directObject}}.np); (mkVP (mkVS {{gf_name}}_V) (mkS {{directObject}}.cl)))
   mkConditional {{subject}} {{directObject}}.cl

oper
   {{gf_name}}_V = mkV {{> templates/Eng/forms/verb}}
